.main{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title{
    display: flex;
    text-align: left;
    font-size: 30px;
}

.tc,.stc{
    color: var(--first-color);
}
.hero-subtitle{
    display: flex;
    font-size: 65px;
}

.hero-text{
    width: 80%;
    font-size: 18px;
    padding: 8px 0;
    letter-spacing: 0.8px;
}

.btns{
    display: flex;
    align-items: center;    
    gap: 10px;
}

.btn{
    padding: 10px ;
    border: 2px solid var(--first-color);
    border-radius: 10px;
    transition: 0.5s all ease-out
}

.btn:hover{
    background-color: var(--first-color);
    color: var(--white-color);
    border-color: var(--white-color);
}


.heroimg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroimg img{
    width: 35rem;
    height: 35rem;
}

@media (max-width:550px)  {
    .main{
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .heroimg img{
        width: 20rem;
        height: 20rem;
    }


    .hero-title{
        font-size: 18px;
    }

    .hero-subtitle{
        font-size: 28px;
    }

    .hero-text{
        font-size: 14px;
    }

    .btns{
        display: flex;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
    }

    .hero-btn{
        gap: 10px;
        margin: 0;
        width: 100%;
        padding: 10px;
        font-size: 12px ;
    }

}

@media (max-width: 768px) {


    .heroimg img{
        width: 20rem;
        height: 20rem;
    }
    .hero-title{
        font-size: 18px;
    }

    .hero-subtitle{
        font-size: 26px;
    }

    .hero-text{
        font-size: 14px;
    }

    .btns{
        display: flex;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
    }

    .hero-btn{
        gap: 10px;
        margin: 0;
        width: 100%;
        padding: 10px;
        font-size: 15px ;
    }
}


@media (max-width: 992px) {

    .heroimg img{
        width: 22rem;
        height: 22rem;
    }
    .hero-title{
        font-size: 21px;
    }

    .hero-subtitle{
        font-size: 28px;
    }

    .hero-text{
        font-size: 16px;
    }

    .btns{
        display: flex;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
    }

    .hero-btn{
        gap: 10px;
        margin: 0;
        width: 100%;
        padding: 10px;
        font-size: 15px !important;
    }
}

@media(min-width:1024px){

    .heroimg img{
        width: 25rem;
        height: 25rem;
    }

    .hero-title{
        font-size: 25px;
    }

    .hero-subtitle{
        font-size: 45px;
    }

    .hero-btn{
        font-size: 18px !important;
    }
}

@media(min-width:1200px){
    .heroimg img{
        width: 35rem;
        height: 35rem;
    }
    .hero-title{
        font-size: 30px;
    }
    .hero-subtitle{
        font-size: 60px;
    }

    .hero-text{
        font-size: 18px;
    }
}

